version: '3'

volumes:
  dbdata:
     driver: local


services:
  database:
    image: mysql:5.7
    env_file:
    - db.env
    command: --init-file /data/application/init.sql
    volumes:
     - dbdata:/var/lib/mysql
     - ./init.sql:/data/application/init.sql
    restart: always
  app:
    build: app/.
    env_file:
    - db.env
    depends_on:
    - database
    restart: always
    extra_hosts:
       xmas-hp.hormann.local: 192.168.0.212

